extends layout

block content
  // Banner
  section#banner
    .container
      p
        | KAYAK RENTALS.
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Rent the outdoor gear you don't use.
  // Header
  section#header
    .container
      // Logo
      h1#logo
        a(href='index.html') First Mile
      p Take your fist step toward miles of adventure
  // // Features
  // section#features
  //   .container
  //     header
  //       h2
  //         | ____
  //         | 
  //     .row.aln-center
  
  // Main
  section#main
    .container
      .row
        ul.actions
          li
            a.button.icon.solid.fa-file(href='#') Search
  //         // Post
  //         article.box.post
  //           header
  //             h2
  //               a(href='#')
  //                 | I don&rsquo;t want to say 
  //                 strong it&rsquo;s the aliens
  //                 |  ...
  //                 br
  //                 | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;but it&rsquo;s the aliens.
  //           a.image.featured(href='#')
  //             img(src='images/pic04.jpg' alt='')
  //           h3 I mean isn&apos;t it possible?
  //           p
  //             | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
  //             | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
  //             | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
  //             | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
  //             | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
  //             | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
  //             | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
  //             | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
  //             | Curabitur leo nibh, rutrum eu malesuada in tristique.
  // // Main
  // section#main
  //   .container
  //     .row
  //       // Content
  //       #content.col-8.col-12-medium
  //         // Post
  //         article.box.post
  //           header
  //             h2
  //               a(href='#')
  //                 | I don&rsquo;t want to say 
  //                 strong it&rsquo;s the aliens
  //                 |  ...
  //                 br
  //                 | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;but it&rsquo;s the aliens.
  //           a.image.featured(href='#')
  //             img(src='images/pic04.jpg' alt='')
  //           h3 I mean isn&apos;t it possible?
  //           p
  //             | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
  //             | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
  //             | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
  //             | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
  //             | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
  //             | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
  //             | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
  //             | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
  //             | Curabitur leo nibh, rutrum eu malesuada in tristique.
  //           ul.actions
  //             li
  //               a.button.icon.solid.fa-file(href='#') Continue Reading
  //         // Post
  //         article.box.post
  //           header
  //             h2
  //               a(href='#')
  //                 | By the way, many thanks to 
  //                 strong regularjane
  //                 | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;for these awesome demo photos
  //           a.image.featured(href='#')
  //             img(src='images/pic05.jpg' alt='')
  //           h3 You should probably check out her work
  //           p
  //             | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
  //             | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
  //             | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
  //             | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
  //             | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
  //             | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
  //             | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
  //             | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
  //             | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
  //             | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
  //             | Curabitur leo nibh, rutrum malesuada.
  //           p
  //             | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
  //             | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
  //             | vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
  //             | magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
  //             | tristique at erat. Curabitur leo nibh, rutrum eu malesuada in, tristique
  //             | at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
  //             | tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
  //             | magna tempus.
  //           ul.actions
  //             li
  //               a.button.icon.solid.fa-file(href='#') Continue Reading
  //       // Sidebar
  //       #sidebar.col-4.col-12-medium
  //         // Excerpts
  //         section
  //           ul.divided
  //             li
  //               // Excerpt
  //               article.box.excerpt
  //                 header
  //                   span.date July 30
  //                   h3
  //                     a(href='#') Just another post
  //                 p
  //                   | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
  //                   | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
  //             li
  //               // Excerpt
  //               article.box.excerpt
  //                 header
  //                   span.date July 28
  //                   h3
  //                     a(href='#') And another post
  //                 p
  //                   | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
  //                   | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
  //             li
  //               // Excerpt
  //               article.box.excerpt
  //                 header
  //                   span.date July 24
  //                   h3
  //                     a(href='#') One more post
  //                 p
  //                   | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
  //                   | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
  //         // Highlights
  //         section
  //           ul.divided
  //             li
  //               // Highlight
  //               article.box.highlight
  //                 header
  //                   h3
  //                     a(href='#') Something of note
  //                 a.image.left(href='#')
  //                   img(src='images/pic06.jpg' alt='')
  //                 p
  //                   | Phasellus sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
  //                   | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
  //                   | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
  //                   | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
  //                 ul.actions
  //                   li
  //                     a.button.icon.solid.fa-file(href='#') Learn More
  //             li
  //               // Highlight
  //               article.box.highlight
  //                 header
  //                   h3
  //                     a(href='#') Something of less note
  //                 a.image.left(href='#')
  //                   img(src='images/pic07.jpg' alt='')
  //                 p
  //                   | Phasellus sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
  //                   | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
  //                   | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
  //                   | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
  //                 ul.actions
  //                   li
  //                     a.button.icon.solid.fa-file(href='#') Learn More

