doctype html
//
  Strongly Typed by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='css/main.css')
  link(rel='stylesheet' href='css/theme.css')

  #page-wrapper
  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer
// Scripts
script(src='js/jquery.min.js')
script(src='js/jquery.dropotron.min.js')
script(src='js/lib/popper.min.js')
script(src='js/lib/bootstrap.min.js')
script(src='js/browser.min.js')
script(src='js/breakpoints.min.js')
script(src='js/util.js')
script(src='js/main.js')