extends layout_backup

block content
  .pb-2.mt-2.mb-4.border-bottom
    // h3 
    for product in products
      .col-md-6
        h3= product.title
        img(src=product.image)
        // p= product.image
        p
          a.btn.btn-raised(href='/product/' + product.id, role='button') View details »
    else
      p No products found    

