extends layout_backup

block content
  .pb-2.mt-2.mb-4.border-bottom
    // h3= searchResults.test
    // h3= searchResults.data[0].title
    for equipment in searchResults.data
      .col-md-6
        h3= equipment.title
        img(src=equipment.image)
        // p= equipment.image
        p
          a.btn.btn-raised(href='/equipment/' + equipment.id, role='button') View details »
    else
      p No equipment found    

