  /* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  background: #ed786a;
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  outline: 0;
  font-size: 1em;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
  font-weight: 600;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 2px;
  padding: 0.85em 2.75em 0.85em 2.75em;
  }

  input[type="button"].icon:before,
  input[type="submit"].icon:before,
  input[type="reset"].icon:before,
  button.icon:before,
  .button.icon:before {
  position: relative;
  padding-right: 0.75em;
  opacity: 0.5;
  top: 0.05em;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover,
  .button:hover {
  background: #fd887a;
  }

  input[type="button"]:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  button:active,
  .button:active {
  background: #ed786a;
  }

  input[type="button"].alt,
  input[type="submit"].alt,
  input[type="reset"].alt,
  button.alt,
  .button.alt {
  background: #878787;
  }

  input[type="button"].alt:hover,
  input[type="submit"].alt:hover,
  input[type="reset"].alt:hover,
  button.alt:hover,
  .button.alt:hover {
  background: #979797;
  }

  input[type="button"].alt:active,
  input[type="submit"].alt:active,
  input[type="reset"].alt:active,
  button.alt:active,
  .button.alt:active {
  background: #878787;
  }
